<img src="../../assets/img/bmw.jpg" alt="Wooden Desk" class="img-thumbnail">
<article>
	<h2>About this template</h2>
	<p>This is a responsive HTML5 template using Bootstrap. Cras bibendum porta purus feugiat scelerisque. Vestibulum varius nibh ut diam commodo, sed volutpat libero pretium. Nullam malesuada lacinia rhoncus. Nunc ut porta elit. Cras a ex enim. Etiam blandit sem vel lacinia interdum. Curabitur ut erat sed dui pulvinar tincidunt. Mauris vulputate dolor nibh, vel sodales urna eleifend id.
	</p>		
</article>


				